::selection {
	background-color: #fff;
	color: #000;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("imgs/grid.png");
	font-family: "Liberation Mono";
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
}

header {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 50px 20px 50px;
	text-align: center;
	background-color: #000;
}

header section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header section img {
	display: flex;
	padding-bottom: 20px;
}

header section h1 {
	color: #fff;
	font-size: 25px;
}

nav {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 50px 10px 50px;
	background-color: #000;
}

nav ul {
	display: flex;
	padding-left: 200px;
	padding-right: 200px;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
}

nav ul li {
	padding-left: 10px;
	padding-right: 10px;
}

nav ul li a {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	padding: 15px 0 15px 0;
	color: #fff;
}

nav ul li a:hover {
	text-decoration: underline;
}

main {
	display: block;
	width: 70%;
	background-color: #000;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 50px 10px 50px;
}

.article {
	margin-bottom: 50px;
}

.article h2, .article details summary {
	font-size: 20px;
	padding-bottom: 20px;
}

.article p { font-size: 15px; }

.article ul {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 40px;
	font-size: 14px;
	list-style-type: ">_ ";
}

.article ul li h3 { 
	margin-top: 20px;
	margin-bottom: 20px; 
}

.article details summary { cursor: pointer; }

#image-gallery {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

#image-gallery figure {
	width: 33%;
}

#image-gallery figure img {
	width: 100%;
}

#image-gallery figcaption {
	padding-left: 25px;
	font-size: 12px;
	width: 80%;
}

#active { color: #00ff1c; }

#text-anchor { 
	text-decoration: none;
	color: #00ff1c; 
}

#text-anchor:hover {
	background-color: #00ff1c;
	color: #000;
	cursor: pointer;
}

#code-section {
	display: block;
	padding: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #262d35;
	font-family: monospace;
	font-size: 120%;
	border-radius: 5px;
}

@media (max-width: 1550px) {
	nav ul {
		width: 100%;
		padding: 0;
	}
}

@media (max-width: 870px) {
	nav ul {
		flex-direction: column;
	}

	nav ul li {
		line-height: 40px;
	}

	nav ul li a {
		padding: 0;
	}

	#image-gallery {
		flex-direction: column;
	}

	#image-gallery figure {
		width: 100%;
	}
}

@media (max-width: 600px) {
	header {
		width: 100%;
		padding: 0;
		padding-top: 20px;
	}

	nav {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	main {
		width: 100%;
		padding-left: 15px;
		padding-right: 0;
	}

	main .article{
		width: 90%;
	}

	.article ul li {
		margin-bottom: 10px;
	}
}